:root{
    --primary-color: #dbc1a8;
    --secondary-color: #a1aab1;
    --black : #202020;
    --white: #f5f5f5;

    --title-font: "Bebas Neue", sans-serif;
    --text-font: "Popping", sans-serif;
}